<ion-view view-title="Meu Posto Favorito" class="col-xs-1" style="width: 428px; height: 28px;"> 
  <ion-content data-content="true" data-replace="true" class="col-xs-1" style="width: 368px; height: 43px;">&nbsp;</ion-content> 
  <h1 data-component="crn-heading" class="component-holder col-xs-12 text-center" id="crn-heading-118797" xattr-position="text-center">{{'Welcome' | translate}}</h1> 
  <h2 xattr-position="text-center" class="text-center component-holder col-xs-12" data-component="crn-label" id="crn-label-502629">{{'Best' | translate}}</h2> 
  <div data-replace="true" data-component="crn-container" class="component-holder col-xs-1" id="crn-container-471145" style="width: 368px; height: 67px;">
     &nbsp; 
  </div> 
  <a href="#/app/cadastro" class="component-holder col-xs-12" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="false" data-component="crn-anchor" id="crn-anchor-928883"><button class="button component-holder col-xs-12 button-block button-positive" type="submit" ng-click="" data-component="crn-button" id="crn-button-869126" xattr-fullsize="button-block" xattr-type="" xattr-theme="button-positive"> <span>Cadastre-se</span></button></a> 
  <div data-replace="true" data-component="crn-container" class="component-holder col-xs-1" id="crn-container-251637" style="width: 368px; height: 161px;">
     &nbsp; 
  </div> 
  <ion-item class="item dark component-holder col-xs-1 col" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-1015147" style="width: 378px; height: 62px;"> 
    <h2 xattr-position="text-center" class="text-center component-holder col-xs-12" data-component="crn-label" id="crn-label-771816">Já tem uma conta?<a href="#/app/telalogin" class="component-holder col-xs-12" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-346663">Faça login.</a></h2> 
  </ion-item> 
</ion-view>