<ion-view cache-view="false" view-title="Tela Inicial"> 
  <ion-content data-replace="true" class="col-xs-1" style="width: 428px; height: 49px;">&nbsp;</ion-content>
  <h1 data-component="crn-heading" class="component-holder text-center col-xs-12" id="crn-heading-765416" xattr-position="text-center">{{'Welcome' | translate}}</h1>
  <h2 xattr-position="text-center" class="text-center component-holder col-xs-12" data-component="crn-label" id="crn-label-308313">{{'Best' | translate}}</h2>
  <div data-replace="true" data-component="crn-container" class="component-holder col-xs-1" id="crn-container-579600" style="width: 428px; height: 75px;">
    &nbsp;
  </div><a href="#/app/cadastro" class="component-holder col-xs-12" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="false" data-component="crn-anchor" id="crn-anchor-997302"><button class="button component-holder col-xs-12 button-block button-positive" type="submit" ng-click="" data-component="crn-button" id="crn-button-34744" xattr-fullsize="button-block" xattr-type="" xattr-theme="button-positive"> <span>Cadastre-se</span></button></a>
  <a href="#/app/cadastro" class="component-holder col-xs-12" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="false" data-component="crn-anchor" id="crn-anchor-287243"></a>
  <div data-replace="true" data-component="crn-container" class="component-holder col-xs-1" id="crn-container-992986" style="width: 428px; height: 126px;">
    &nbsp;
  </div>
  <ion-item class="item dark component-holder col-xs-12" xattr-theme="dark" data-replace="false" data-component="crn-list-item" id="crn-list-item-119596">
    <h2 xattr-position="text-center" class="text-center component-holder col-xs-12" data-component="crn-label" id="crn-label-654313">Já tem uma conta?<a href="#/app/telalogin" class="component-holder col-xs-12" target="_self" onclick="" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-216130">Faça login.</a></h2>
  </ion-item>
</ion-view>