<ion-view view-title="Meu Posto Favorito"> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-div" id="crn-div-929090" style="padding-top: 60px;"> 
      <div class="list"> 
        <div class="col text-center"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-image" id="crn-image-174578" ng-click="vibrate()"> 
            <img src="img/logo.png"> 
          </div> 
        </div> 
        <div class="component-holder ng-binding ng-scope" data-component="crn-div-horizontal" id="crn-div-horizontal-270296"> 
          <div class="row"> 
            <div class="col active"> 
              <div class="text-center"> 
                <div class="component-holder ng-binding ng-scope" data-component="crn-anchor" id="crn-anchor-1006017"> 
                  <a href="#/app/logged/user" target="_self"> 
                    <div class="component-holder ng-binding ng-scope"> 
                      <i class="icon ion-person placeholder-icon" style="font-size: 60px"></i> 
                    </div> 
                    <div class="component-holder ng-binding ng-scope" data-component="crn-title" id="crn-title-864330"> 
                      <p class="text-center"> {{ "Users.view.Users" | translate }}</p> 
                    </div> </a> 
                </div> 
              </div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
          </div>
           
        </div> 
      </div> 
    </div> 
  </ion-content> 
</ion-view>