<ion-side-menus enable-menu-with-back-views="false"> 
  <div class="row" data-container="true"> 
    <ion-side-menu-content> 
      <ion-nav-bar class="bar-stable"> 
        <ion-nav-back-button> 
        </ion-nav-back-button> 
        <ion-nav-buttons side="left"> 
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button> 
        </ion-nav-buttons> 
      </ion-nav-bar> 
      <ion-nav-view name="menuContent"> 
      </ion-nav-view> 
    </ion-side-menu-content> 
    <ion-side-menu side="left"> 
      <ion-header-bar class="bar-stable"> 
        <h1 class="title">Menu</h1> 
      </ion-header-bar> 
      <ion-content data-container="true"> 
        <ion-list> 
          <!-- Menu --> 
          <div class="component-holder" data-component="crn-navbar" id="crn-navbar-986427"> 
            <div class="nav navbar-nav"> 
              <div class="item item-divider"> 
                <i class="icon ion-ios-person"></i> &nbsp; {{session.user.name}} 
              </div> 
              <div menu-close="" class="item-icon-left item item-complex"> 
                <a class="component-holder item-content ng-binding" href="#/app/home" data-component="crn-anchor"> <i class="icon ion-home"></i>{{"Home.view.Home" | translate}}</a> 
              </div> 
              <div class="item item-divider"></div> 
              <div menu-close="" class="item-icon-left item item-complex"> 
                <a class="component-holder item-content ng-binding" href="#/app/logged/user" data-component="crn-anchor"> <i class="icon ion-ios-person"></i> {{ "Users.view.Users" | translate }}</a><a class="component-holder item-content ng-binding" href="#/app/logged/abastecimento" data-component="crn-anchor"> <i class="icon ion ion-beaker"></i> Meus Abastecimentos</a><a class="component-holder item-content ng-binding" href="#/app/logged/avaliacao" data-component="crn-anchor"> <i class="icon ion ion-android-done-all"></i>Avaliações</a><a class="component-holder item-content ng-binding" href="#/app/logged/carro" data-component="crn-anchor"> <i class="icon ion ion-android-car"></i>Meus Carros</a> 
              </div> 
              <div class="item item-divider"></div> 
              <div menu-close="" class="item-icon-left item item-complex"> 
                <a class="component-holder item-content ng-binding" href="#/app/home" ng-click="openChangePassword()" data-component="crn-anchor"> <i class="icon ion-lock-combination"></i>{{"Home.view.ChangePassword" | translate}}</a> 
              </div> 
              <div menu-close="" class="item-icon-left item item-complex"> 
                <a class="component-holder item-content ng-binding" ng-click="logout()" href="#" data-component="crn-anchor"> <i class="icon icon ion-arrow-left-a"></i>{{"Home.view.Sair" | translate}}</a> 
              </div> 
            </div> 
          </div> 
          <!-- Menu -->  
        </ion-list> 
      </ion-content> 
    </ion-side-menu> 
  </div> 
</ion-side-menus>