<ion-view cache-view="false" view-title="User" hide-back-button="true"> 
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="User.inserting || User.editing" ng-click="User.startInserting()"> <i class="icon ion-plus-round"></i> </button> 
    <button class="button button-stable" ng-show="User.inserting || User.editing" ng-click="User.post()"> <i class="icon ion-checkmark"></i> </button> 
  </ion-nav-buttons> 
  <ion-nav-buttons side="left"> 
    <button class="button button-icon button-clear ion-navicon" ng-hide="User.inserting || User.editing" menu-toggle="left"> </button> 
    <button class="button button-stable" ng-show="User.inserting || User.editing" ng-click="User.cancel()"> <i class="icon ion-android-arrow-back"></i> </button> 
  </ion-nav-buttons> 
  <ion-content> 
    <div class="list list-inset" ng-hide="User.editing || User.inserting"> 
      <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i> <input type="text" placeholder="{{'template.crud.search' | translate}}" ng-model="query" value="%"> </label> 
    </div> 
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854"> 
      <datasource filter="{{query == '' || query == null ? null : ('/findByLogin/' + query)}}" name="User"  entity="api/cronapi/crud/app.entity.User" keys="id" rows-per-page="100" delete-message="{{ 'General.RemoveData' | translate }}" class=""></datasource> 
    </div> 
    <div crn-datasource="User" class="" ng-hide="User.editing || User.inserting"> 
      <div class="component-holder ng-binding ng-scope" data-component="crn-list-swipe" data-forcedgroup="" id="crn-list-swipe-533868"> 
        <ion-list can-swipe="listCanSwipe" class="listCanSwipe"> 
          <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)"> 
            <div class="row"> 
              <div class="col">
                 {{rowData.login}} 
              </div> 
              <div id="crn-item-options-531" class="component-holder" data-component="crn-item-options"> 
                <div class="crn-item-options" data-item="true"> 
                  <ion-option-button class="button-positive button" ng-click="datasource.startEditing(rowData)"><i class="icon ion-edit">{{'User.view.Edit' | translate}}</i>
                  </ion-option-button><ion-option-button class="button-assertive button" ng-click="datasource.remove(rowData)">
                  <i class="icon ion-trash-a">{{'User.view.Remove' | translate}}</i></ion-option-button> 
                </div> 
              </div> 
            </div> 
          </ion-item> 
        </ion-list> 
      </div> 
    </div> 
    <div ng-show="User.editing || User.inserting"> 
      <form crn-datasource="User"> 
        <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
          <div class="list"> 
            <!-- email begin --> 
            <label for="textinput-email" class="item item-input item-stacked-label"> <span class="input-label">Email</span> <input type="text" placeholder="Email" ng-model="User.active.email" id="textinput-email" name="textinput-email"> </label> 
            <!-- name begin --> 
            <label for="textinput-name" class="item item-input item-stacked-label"> <span class="input-label">Name</span> <input type="text" placeholder="Name" ng-model="User.active.name" id="textinput-name" name="textinput-name" required> </label> 
            <!-- login begin --> 
            <label for="textinput-login" class="item item-input item-stacked-label"> <span class="input-label">Login</span> <input type="text" placeholder="Login" ng-model="User.active.login" id="textinput-login" name="textinput-login" required> </label> 
            <!-- password begin --> 
            <label for="textinput-password" class="item item-input item-stacked-label"> <span class="input-label">Password</span> <input type="password" placeholder="Password" ng-model="User.active.password" id="textinput-password" name="textinput-password" required> </label> 
          </div> 
        </fieldset> 
      </form> 
    </div> 
  </ion-content> 
</ion-view>